body {
    background-color: #f0fff0; /* Very light green background */
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

.content {
    text-align: center;
    margin-top: 50px;
}

.app-name {
    color: green;
    display: inline-block;
    font-family: Fantasy, copperplate;
}

.app-welcome {
    color: green;
    font-family: Fantasy, copperplate;
    font-size: xxx-large;
}

.description {
    font-size: larger;
}

.form-container {
    background-color: white;
    border: 2px solid #ccc;
    padding: 30px; /* Added more padding */
    border-radius: 10px;
    width: 360px; /* Increased width by another 10% */
    margin: 0 auto;
}
.form-title {
    margin-bottom: 15px;
    font-size: 18px;
}
.form-title-failure {
    margin-bottom: 15px;
    font-size: 24px; /* Slightly larger font size */
    font-weight: bold; /* Bold text */
    color: red; /* Red font color */
}
.form-title-success {
    margin-bottom: 15px;
    font-size: 24px; /* Slightly larger font size */
    font-weight: bold; /* Bold text */
    color: green; /* Green font color */
}
.form-group label {
    font-weight: bold;
    text-align: left;
    display: block;
}
.header {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px; /* Added equal space above the header */
}
.header img {
    width: 75px; /* Increased size by 50% */
    height: 75px; /* Increased size by 50% */
}
.header div {
    color: green;
    display: inline-block;
    font-family: Fantasy, copperplate;
    font-size: 36px; /* Increased size by 50% */
    margin-left: 10px;
    vertical-align: middle;
}
.response-box {
    background-color: white;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}